Package: com.lendicgram.antidelete
Name: lendicgram
Depends: firmware
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Anti-delete tweak for Telegram iOS. Deleted messages become transparent with a cross icon instead of disappearing.
Maintainer: lendicgram
Author: lendicgram
Section: Tweaks
